{{define "content"}}
 <canvas id="line" width="400" height="200"></canvas>

<script>

let Label = [{{range .Labels }}{{.}},{{end}}];
let datasets = [];
let dataInfo = [];



function getInfo(){
  axios.get('/getInfo')
  .then(function (data) {
    // handle success
    console.log(data.data.Labels);
 //   console.log(data.data.Products.DataMaps);
//


      console.log(typeof data.data.Products.DataMaps);
 //  data.data.Products.DataMaps.forEach(element => {


    Object.values(data.data.Products.DataMaps).map(function(objectKey, index) {
 
    Object.values(objectKey).map(function(local, index) {
  
       //     console.log(element);
       //     console.log('element');
          let tmp = local;
          local.x = new Date( local.Date);
          local.y =  local.Percent;
          local.fullname = local.Fullname;
          local.price =  local.Price;
    
      });

   // dataInfo.push(tmp)
   
 

      
// {{range $index, $element := .Products.DataMaps}} 
///dataInfo.push([{{range $element}}{ x: "{{.Date}}", date:new Date({{.Date}}),  fullname:{{.Fullname}}, 
//price:{{.Price}},y: "{{.Percent}}" }, {{end}} ,]); 
// {{end}}
    });


     console.log(data.data.Products.DataMaps);

    return data.data;
  })
  .then((data)=> { 
    dataInfo = data.Products.DataMaps;
    labels  = data.Labels;




  //   for( let item of dataInfo){
  //      item = item.sort(( a,b ) => a.date - b.date);
  //  }
 


   console.log('dataInfo 2');

   for( let item in dataInfo){
      
     datasets.push({
      data:dataInfo[item],
      label: item,
      borderColor: getRandomColor(),
     });
   
  }

  console.log('dataInfo 5');
    
  console.log(datasets);
 
  
  createChart(labels, datasets )
  })


  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });
}

  
 
getInfo();

 
  
    
function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    
//  console.log(datasets);
function createChart(Label, datasets ){ 
          const myChart = new Chart(document.getElementById("line"), {
            type: 'line',
            data: {
          //  labels: [Label],
              datasets: datasets
            },
            plotOptions: {
                  series: {
                      connectNulls: true
                  }
              },
            //showTooltips: true,
            options: {
            plotOptions: {
                  series: {
                      connectNulls: true
                  }
              },
              scales: {
                      y: {
                        beginAtZero: true
                      },
                      
                      x: {
                          beginAtZero: true,
                          type: 'category',
                          labels: Label
                      }
                  },

                  
              spanGaps: true,
              plugins: {
                  },
            // showLine: false ,
              layout: {
                      padding: 20
                  },
              parsing: {
                  xAxisKey: 'x',
                  yAxisKey: 'y'
              }, 

            xAxes:[{
                type: 'date',
                ticks:{
                
                  autoSkip: true,
                  maxTicksLimit: 20,
                  beginAtZero: true,
                  }
              }],
            
            }
            
          });
}
</script>
{{end}}